<!DOCTYPE html>
<html>
<head>
	<title>TheGossipProject</title>
</head>
<body>
	<h1>Voici le contenu du potin :</h1>
	<p>
		<br/>
		Titre du gossip : <%= @goss.title %><br/>
		Le contenu du gossip : <%= @goss.content %><br/><br/>
   		<a href="/<%= @goss.user.id %>/potin/profil">Profil de l'auteur</a><br/><br/>
   		<a href="/">Accueil</a><br/>

	</p>

</body>
</html>