<!DOCTYPE html>
<html>
<head>
	<title>EditComment</title>
</head>
<body>
	<h1>Edit Comment</h1>
 
	<p>
				<%= form_tag url_for(action: 'update'), method: "patch" do %>

      	<%= label_tag 'Content' %>
      	<%= text_area_tag 'content', @comment.content %>
      <br /> <br />

      <%= submit_tag "Update Comment" %>

    <% end %>
	</p>
 
</body>
</html>