<!DOCTYPE html>
<html>
<head>
	<title>TheGossipProject</title>
</head>
<body>
	<h1>BIENVENUE DANS LA PAGE DES DPOTINS</h1>
	<p>Pour voir la liste des potins, <%= link_to "Cliquez ici", gossips_path %></p>
</body>
</html>